/*=========================================
        TELANGANA HERO
=========================================*/

.telangana-hero{

    background:#ffffff;

    border-radius:25px;

    padding:45px;

    margin-top:30px;

    box-shadow:0 10px 30px rgba(0,0,0,.08);

}

.hero-content{

    display:flex;

    justify-content:space-between;

    align-items:center;

    gap:50px;

}

.hero-text{

    flex:1;

}

.hero-badge{

    display:inline-block;

    background:#edf4ff;

    color:#2563eb;

    padding:8px 18px;

    border-radius:30px;

    font-size:15px;

    font-weight:600;

    margin-bottom:20px;

}

.hero-text h1{

    font-size:48px;

    color:#102b66;

    font-weight:700;

    line-height:1.2;

    margin-bottom:20px;

}

.hero-text p{

    font-size:18px;

    color:#555;

    line-height:1.8;

    margin-bottom:35px;

}

.hero-buttons{

    display:flex;

    gap:20px;

}

.latest-btn{

    background:#2563eb;

    color:#fff;

    border:none;

    padding:16px 30px;

    border-radius:12px;

    font-size:16px;

    font-weight:600;

    cursor:pointer;

    transition:.3s;

}

.latest-btn:hover{

    transform:translateY(-3px);

    background:#1d4ed8;

}

.paper-btn{

    background:#ffffff;

    color:#2563eb;

    border:2px solid #2563eb;

    padding:16px 30px;

    border-radius:12px;

    font-size:16px;

    font-weight:600;

    cursor:pointer;

    transition:.3s;

}

.paper-btn:hover{

    background:#2563eb;

    color:#ffffff;

}

.hero-image{

    flex:1;

    display:flex;

    justify-content:center;

}

.hero-image img{

    width:100%;

    max-width:450px;

}
